/build
/cache
/vendor

/docker/Dockerfile.service
/service/static/agent.yaml
/integration-tests/k8s/service.yaml
/integration-tests/k8s/k8s-kube-system.yaml
/integration-tests/k8s/nginx-bootstrap.yaml
/integration-tests/k8s/service.updated.yaml
/integration-tests/k8s/agent.updated.yaml
